* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #0e1a2b;
  color: #fff;
  font-size: 14px;
}

.container {
  max-width: 1500px;
}
.logo {
  font-size: 20px;
  font-weight: bold;
}
header img {
  max-width: 30px;
}
header {
  display: flex;
  background-color: #030e20;
  justify-content: space-evenly;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.search-bar-user {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
#search-bar {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
}
#search-bar::placeholder {
  color: #000;
}
.user-profile {
  height: 30px;
  width: 30px;
  background-color: green;
  border-radius: 50%;
}
.nav-bar {
  display: none;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
  padding: 20px;
  background-color: #030e20;
  z-index: 1000;
}
.logo-cls-menu {
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
}
li a {
  font-size: 14px;
  padding: 10px;
  display: block;
  color: #fff;
  border-bottom: 0.5px solid #f0f0f0;
}
li a:hover {
  background-color: #fff;
  color: #030e20;
}
.signup-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}
.signup-login a {
  width: 100%;
  background-color: blue;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  border-radius: 8px;
}
.theme {
  display: flex;
  background-color: #131a24ea;
  justify-content: space-around;
  margin: 30px 0;
  border-radius: 2px;
}
.theme button {
  border: none;
  padding: 10px 20px;
  background-color: transparent;
  color: #ccc;
  font-size: 14px;
}
.theme .active {
  background-color: #1d3453;
}
main {
  margin: 90px 0;
}
table img {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
}
table {
  width: 100%;
  /* border: 1px solid green; */
  border-collapse: collapse;
}

caption {
  font-size: 16px;
  padding: 10px;
}
.column-row {
  position: sticky;
  z-index: 1;
  top: 65px;
}
th {
  font-size: 16px;
  color: #00ff88;
  background-color: #142337;
  border: none;
  padding: 15px 0;
  border-collapse: collapse;
  /* text-align: left; */
}
td,
tr {
  padding: 10px;
  text-align: left;
}
tr {
  border-bottom: 1px solid white;
}

.icon-symbol {
  display: flex;
  justify-content: left;
}
.symbol-market-cap {
  display: flex;
  flex-direction: column;
}
tr a {
  display: block;
  position: absolute;
}
.row {
  cursor: pointer;
}
